* {
    color:#171717;
    background-color:#F3F4F4;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    margin:0;
}

.cursive-text {
    font-family: 'Brush Script MT', cursive;
}

.regular-text {
    font-family: 'Arial';
    background:transparent;
    color:white;
}

.welcome {
    display:block;
    position:absolute;
    top:125px;
    left:50px;
    margin:0;
    background:transparent;
    color:#F3F4F4;
}

 .welcome {
        margin: 0; 
        padding: 0; 
    }

    .welcome h3, .welcome h1, .welcome p {
        margin: 0; 
        padding: 0; 
    }

    .welcome h1 br {
        display: none; 
    }

.welcome > .one {
    font-size:48px;
    font-weight: 100;
    margin-bottom:25px;
}

.welcome > .two {
    font-size:114px;
    font-weight: 600;
    margin-bottom:25px;
    text-shadow: 1px 1px 2px #171717;
    padding-bottom:0px;
    margin:0;
    font-weight:bolder;
}

.welcome > .two-padding {
    font-size:128px;
    font-weight: 600;
    margin-bottom:25px;
    text-shadow: 1px 1px 2px #171717;
    padding-bottom:20px;
    margin:0;
    font-weight:bolder;

}

.welcome > .three {
    font-size:18px;
}

.icon {
    height:40px;
    width:auto;
    background:transparent;
    position:absolute;
    top:600px;
    left:50px;
    
}

.second {
    left:125px;
}

.emphasize {
    color:#1B1B1B;
    background:transparent;
}

.signature {
    background-color:transparent;
    font-size:42px;
    padding:0;
    display:block;
    position:absolute;
    left:50px;
    height:85px;
    transform: rotate(-4deg);
    width:auto;
    z-index:3;
    color:#141414;
    float:left;
}

.cover {
    background-image: url('./assets/images/background.png'); 
    background-size: cover; 
    display: block;
    position: relative;
    z-index: 1;
    margin: 0;
    height: 100vh; 
    width: 100%;
}

.portrait {
    height:80%;
    width:auto;
    z-index:4;
    position:absolute;
    right:10%;
    bottom:0%;
    background-color:transparent;
}

.tint {
    background-color:#485647;
    opacity:98%;
    background-size: cover; 
    display:block;
    position:absolute;
    z-index:2;
    margin:0;
    height:100%;
    width:100%;
}

.films {
    display: block;
    position:relative;
    width:auto;
    height: auto;
    width:auto; /* Adjust the height as needed */
    background-color: #171717;
    padding-bottom:100px

}

.title {
    background:transparent;
    color:#F3F4F4;
    padding-top:50px;
    margin-top:0;
    text-align:center;
    font-size:32px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-shadow:1px 1px #141414;
}

.grid-container {
    margin-top:100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    justify-content: center;
    align-content: center;
    background:transparent;
}

.grid-item {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    background:transparent;
    
}

.video-placeholder {
    background-color: white;
    height: auto;
    width: 40%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.socialmedia {
    display: block;
    position:relative;
    width:auto;
    height: auto;
    width:auto; 
    background-color:#485647;
}

.image-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  background: transparent;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  padding-bottom:100px;
  
}

.large-image {
  padding-right:0px;
  background:transparent;
}

.small-images {
  display: flex;
  flex-direction: row;
  background:transparent;
}

.image-placeholder {
  width: 100%;
  background-color: transparent;
  text-align: center;
}

.large-placeholder {
    padding-top:100px;
    background:transparent;
   /* Maintain 2:3 aspect ratio for the large placeholder */
}

.small-placeholder {
  margin: 15px 0;
  padding:5px;
  background:transparent; 
}

.image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

